    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
    body {
        font-family: 'Righteous', cursive;;
    }

    body {
        background-image: linear-gradient(to bottom right, #0335b4, #771cc3);
        color: #E6B325;
    }

    body {
        min-height: 100vh;
    }

    .FRight {
        float: right;
    }

    .FLeft {
        float: left;
    }

    .center {
        text-align: center;
    }
      
    .right {
        text-align: right;
    }

    .left {
        text-align: left;
    }

    .header, .footer {
        background-color: #362FD9;
        color: #E6B325;
        padding: 12px;
        border: 24px;
        border-radius: 12px;
    }

    nav {
        background-color: #362FD9;
        list-style-type: none;
        width: 115px;
        border: 24px;
        border-radius: 12px;
    }

    nav a {
        color: #E6B325;
        text-decoration: none;
        padding: 12px 12px;
        display: block;
        border: 24px;
        border-radius: 12px;
    }

    nav a:hover {
        background-color: #181564;
    }
    