    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
    body {
        font-family: 'Righteous', cursive;;
    }

    body {
        background-color: #8400FF;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235d0aff'/%3E%3Cstop offset='1' stop-color='%235d0aff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23b905ff'/%3E%3Cstop offset='1' stop-color='%23b905ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239c0bff'/%3E%3Cstop offset='1' stop-color='%239c0bff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238400FF'/%3E%3Cstop offset='1' stop-color='%238400FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230E12FF'/%3E%3Cstop offset='1' stop-color='%230E12FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23E615FF'/%3E%3Cstop offset='1' stop-color='%23E615FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }

    body {
        min-height: 100vh;
    }

    #index-picture {
        margin-top: 125px;
        margin-right: 150px;
        float: right;
        border: 4px;
        border-radius: 36px;
    }

    #index-intro {
        color: #E6B325;
        background-color: #782c9f;
        padding: 10px;
        border: 4px #E6B325 solid;
        border-radius: 12px;
        margin-top: 380px;
        margin-left: 275px;
        text-align: center;
        float: left;
    }

    #project1 {
        margin-top: 300px;
        margin-left: 275px;
    }

    #project2 {
        margin-top: 300px;
        margin-left: 275px;
    }

    #project3 {
        margin-top: 380px;
        margin-left: 275px;
    }

    #project4 {
        margin-top: 300px;
        margin-left: 275px;
    }

    #project1-picture {
        margin-top: 200px;
        margin-right: 150px;
        float: right;
        border: 4px;
        border-radius: 36px;
    }

    #project2-picture{
        margin-top: 150px;
        margin-right: 150px;
        float: right;
        border: 4px;
        border-radius: 36px;
    }

    #project3-picture {
        margin-top: 150px;
        margin-right: 195px;
        float: right;
        border: 4px;
        border-radius: 36px;
    }

    #project4-picture {
        margin-top: 150px;
        margin-right: 150px;
        margin-bottom: 200px;
        float: right;
        border: 4px;
        border-radius: 36px;
    }

    .fontsize {
        font-size: 16px;
        font-weight: normal;
    }

    .FRight {
        float: right;
    }

    .FLeft {
        float: left;
    }

    .center {
        text-align: center;
    }
      
    .right {
        text-align: right;
    }

    .left {
        text-align: left;
    }

    .header-style, .footer-style {
        background-color: #782c9f;
        color: #E6B325;
        padding: 12px 0px;
        border: 4px #E6B325 solid;
        border-radius: 12px;
        margin: 0;
    }

    .projects-style {
        color: #E6B325;
        background-color: #782c9f;
        padding: 10px;
        border: 4px #E6B325 solid;
        border-radius: 12px;
        float: left;
    }

    #header-position {
        position: fixed;
        top: 0;
        width: 98.5%
    }

    #footer-position {
        position: fixed;
        bottom: 0;
        width: 98.5%
    }

    #form-position {
        margin-top: 100px;
        margin-left: 150px;
    }

    nav {
        background-color: #782c9f;
        list-style-type: none;
        width: 115px;
        border: 24px;
        border-radius: 12px;
        position: fixed;
        left: 10px;
        top: 79px;
        border: 4px #E6B325 solid;
    }

    nav a {
        color: #E6B325;
        text-decoration: none;
        padding: 12px 12px;
        display: block;
        border: 24px;
        border-radius: 12px;
    }

    nav a:hover {
        background-color: #3d0b57;
    }

    .links {    
        color: #E6B325;
        text-decoration: none;
        font-size: 48px;
    }

    .links:hover {
        color: #896501 ;
    }
    
    input, textarea {
        color: #E6B325;     
        background-color: #782c9f;
        border: 2px  #E6B325 solid;
        border-radius: 8px;
        padding: 8px;
    }

    input:focus, textarea:focus, input[type="reset"]:hover, [type="submit"]:hover {
        border: 2px  #896501 solid;
        background-color: #3d0b57;
    }

    input [type="radio"] {
        background-color: #782c9f;
    }

    label {
        color: #E6B325;
    }